openapi: 3.0.3
info:
  title: Mediisha API
  version: 2.0.9
  description:
    Mediisha is a comprehensive digital health platform that offers mental
    health consultations, health information management solutions, health insurance
    program facilitation, and more. Your healthcare needs, just a click away!

servers:
  - url: https://mediisha.app
    description: Production Server
  - url: https://dev.mediisha.app
    description: Development Server

paths:
  /api/v1/ambulance/:
    get:
      operationId: v1_ambulance_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/ambulance/{id}/:
    get:
      operationId: v1_ambulance_retrieve_2
      summary: Ambulance Details
      description: Retrieve detailed information about a specific ambulance using its unique ID.
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this ambulance.
          required: true
      tags:
        - ambulance
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AmbulanceCard"
          description: ""
  /api/v1/ambulance/map/:
    get:
      operationId: v1_ambulance_map_retrieve
      summary: Available Ambulances
      description: Retrieve a list of available ambulances along with their current locations on the map.
      tags:
        - ambulance
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/app/settings/{path}/:
    get:
      operationId: v1_app_settings_retrieve
      parameters:
        - in: path
          name: path
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/app/slider/:
    get:
      operationId: v1_app_slider_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSliderList"
          description: ""
  /api/v1/articles/:
    get:
      operationId: v1_articles_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPostCardList"
          description: ""
    post:
      operationId: v1_articles_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCard"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PostCard"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PostCard"
        required: true
      security:
        - {}
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostCard"
          description: ""
  /api/v1/articles/{id}/:
    get:
      operationId: v1_articles_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Article.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: ""
    put:
      operationId: v1_articles_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Article.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Post"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Post"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Post"
        required: true
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: ""
    patch:
      operationId: v1_articles_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Article.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedPost"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedPost"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedPost"
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
          description: ""
    delete:
      operationId: v1_articles_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Article.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "204":
          description: No response body
  /api/v1/articles/{id}/bookmark/:
    get:
      operationId: v1_articles_bookmark_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_articles_bookmark_create_2
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "201":
          description: No response body
  /api/v1/articles/bookmark/:
    get:
      operationId: v1_articles_bookmark_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPostCardList"
          description: ""
    post:
      operationId: v1_articles_bookmark_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCard"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PostCard"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PostCard"
        required: true
      security:
        - jwtAuth: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostCard"
          description: ""
  /api/v1/blood-banks/:
    get:
      operationId: v1_blood_banks_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/blood-banks/{id}/:
    get:
      operationId: v1_blood_banks_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this blood bank.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BloodBank"
          description: ""
  /api/v1/blood/requests/:
    get:
      operationId: v1_blood_requests_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_blood_requests_create
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/blood/requests/{bloodtype}/donars/:
    get:
      operationId: v1_blood_requests_donars_list
      parameters:
        - in: path
          name: bloodtype
          schema:
            type: string
          required: true
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBloodDonarsList"
          description: ""
  /api/v1/blood/requests/{id}/:
    get:
      operationId: v1_blood_requests_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_blood_requests_create_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/blood/requests/{id}/acceptances/:
    get:
      operationId: v1_blood_requests_acceptances_list
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBloodRequestAcceptanceList"
          description: ""
  /api/v1/blood/requests/accept/invitation/:
    post:
      operationId: v1_blood_requests_accept_invitation_create
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/blood/requests/summary/:
    get:
      operationId: v1_blood_requests_summary_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/booking/slot/:
    post:
      operationId: v1_booking_slot_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookedConsultationStatus"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BookedConsultationStatus"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BookedConsultationStatus"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookedConsultationStatus"
          description: ""
  /api/v1/cancer/:
    get:
      operationId: v1_cancer_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/cancer/requests/:
    get:
      operationId: v1_cancer_requests_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCancerReviewRequestList"
          description: ""
    post:
      operationId: v1_cancer_requests_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancerReviewRequestCreate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CancerReviewRequestCreate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CancerReviewRequestCreate"
        required: true
      security:
        - jwtAuth: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequestCreate"
          description: ""
  /api/v1/cancer/requests/{id}/:
    get:
      operationId: v1_cancer_requests_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
    put:
      operationId: v1_cancer_requests_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
        required: true
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
    patch:
      operationId: v1_cancer_requests_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedCancerReviewRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedCancerReviewRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedCancerReviewRequest"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
    delete:
      operationId: v1_cancer_requests_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "204":
          description: No response body
  /api/v1/cancer/requests/{id}/presigned-url/:
    get:
      operationId: v1_cancer_requests_presigned_url_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
  /api/v1/cancer/requests/{id}/submit/:
    post:
      operationId: v1_cancer_requests_submit_create
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
        required: true
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
  /api/v1/cancer/requests/{id}/upload/:
    post:
      operationId: v1_cancer_requests_upload_create
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Cancer Request.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CancerReviewRequest"
        required: true
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancerReviewRequest"
          description: ""
  /api/v1/categories/{post_type}/:
    get:
      operationId: v1_categories_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
        - in: path
          name: post_type
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCategoryList"
          description: ""
  /api/v1/categories/{post_type}/children/{parent_id}/:
    get:
      operationId: v1_categories_children_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
        - in: path
          name: parent_id
          schema:
            type: string
          required: true
        - in: path
          name: post_type
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCategoryList"
          description: ""
  /api/v1/categories/{post_type}/hierarchy/:
    get:
      operationId: v1_categories_hierarchy_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
        - in: path
          name: post_type
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRecursiveCategoryList"
          description: ""
  /api/v1/checkout/:
    post:
      operationId: v1_checkout_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookedConsultation"
          description: ""
  /api/v1/consultation/{consultation_id}/images/:
    get:
      operationId: v1_consultation_images_retrieve
      description: List all consultation images for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_consultation_images_create
      description: Add a new consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    delete:
      operationId: v1_consultation_images_destroy
      description: Delete a consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/consultation/{consultation_id}/images/{id}/:
    get:
      operationId: v1_consultation_images_retrieve_2
      description: List all consultation images for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_consultation_images_create_2
      description: Add a new consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    delete:
      operationId: v1_consultation_images_destroy_2
      description: Delete a consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/consultation/{consultation_id}/images/upload/:
    get:
      operationId: v1_consultation_images_upload_retrieve
      description: List all consultation images for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_consultation_images_upload_create
      description: Add a new consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    delete:
      operationId: v1_consultation_images_upload_destroy
      description: Delete a consultation image for a specific consultation.
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/consultation/{slotid}/symptoms/:
    get:
      operationId: v1_consultation_symptoms_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
        - in: path
          name: slotid
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSymptomList"
          description: ""
  /api/v1/consultation/report/{consultation_id}/:
    get:
      operationId: v1_consultation_report_retrieve
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_consultation_report_create
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/consultation/report/medication/fields/:
    get:
      operationId: v1_consultation_report_medication_fields_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/contact/:
    post:
      operationId: v1_contact_create
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/districts/:
    get:
      operationId: v1_districts_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/doctor/slots/{id}/:
    get:
      operationId: v1_doctor_slots_list
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          description: A UUID string identifying this Consultation Slot.
          required: true
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedConsultationSlotList"
          description: ""
  /api/v1/doctor/slots/completed/:
    get:
      operationId: v1_doctor_slots_completed_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/forget-password/:
    post:
      operationId: v1_forget_password_create
      tags:
        - v1
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/forget-password/verify/:
    post:
      operationId: v1_forget_password_verify_create
      tags:
        - v1
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/generate/signature/:
    post:
      operationId: v1_generate_signature_create
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/health-library/:
    get:
      operationId: v1_health_library_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedHealthLibraryCardList"
          description: ""
    post:
      operationId: v1_health_library_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthLibraryCard"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/HealthLibraryCard"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/HealthLibraryCard"
        required: true
      security:
        - {}
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthLibraryCard"
          description: ""
  /api/v1/health-library/{id}/:
    get:
      operationId: v1_health_library_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Health Library.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthLibrary"
          description: ""
    put:
      operationId: v1_health_library_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Health Library.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthLibrary"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/HealthLibrary"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/HealthLibrary"
        required: true
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthLibrary"
          description: ""
    patch:
      operationId: v1_health_library_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Health Library.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedHealthLibrary"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedHealthLibrary"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedHealthLibrary"
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthLibrary"
          description: ""
    delete:
      operationId: v1_health_library_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Health Library.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "204":
          description: No response body
  /api/v1/homepage/:
    get:
      operationId: v1_homepage_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/hospitals/:
    get:
      operationId: v1_hospitals_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/hospitals/{id}/:
    get:
      operationId: v1_hospitals_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Hospital.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hospital"
          description: ""
  /api/v1/hospitals/{id}/doctors/:
    get:
      operationId: v1_hospitals_doctors_list
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this user.
          required: true
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDoctorSmallCardList"
          description: ""
  /api/v1/hospitals/geojson/:
    get:
      operationId: v1_hospitals_geojson_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedHospitalBranchCardList"
          description: ""
  /api/v1/hospitals/specializations/:
    get:
      operationId: v1_hospitals_specializations_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSpecializationList"
          description: ""
    post:
      operationId: v1_hospitals_specializations_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Specialization"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Specialization"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Specialization"
        required: true
      security:
        - {}
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Specialization"
          description: ""
  /api/v1/instant-consultation/:
    post:
      operationId: v1_instant_consultation_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstantConsultation"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/InstantConsultation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/InstantConsultation"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantConsultation"
          description: ""
  /api/v1/instant-consultation/detail/{consultation_id}/:
    get:
      operationId: v1_instant_consultation_detail_retrieve
      parameters:
        - in: path
          name: consultation_id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstantConsultationDetail"
          description: ""
  /api/v1/instant-consultation/signature/:
    post:
      operationId: v1_instant_consultation_signature_create
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/instant-consultation/symptoms/:
    get:
      operationId: v1_instant_consultation_symptoms_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/lab/:
    get:
      operationId: v1_lab_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/lab/{id}/:
    get:
      operationId: v1_lab_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Lab.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lab"
          description: ""
  /api/v1/lab/packages/:
    get:
      operationId: v1_lab_packages_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedLabTestCardPackageList"
          description: ""
  /api/v1/lab/packages/{id}/:
    get:
      operationId: v1_lab_packages_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Lab Package.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabTestPackage"
          description: ""
  /api/v1/login/:
    post:
      operationId: v1_login_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Login"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Login"
        required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Login"
          description: ""
  /api/v1/logout/:
    post:
      operationId: v1_logout_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/medicine-remainders/:
    get:
      operationId: v1_medicine_remainders_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_medicine_remainders_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/medicine-remainders/{id}/:
    get:
      operationId: v1_medicine_remainders_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
    delete:
      operationId: v1_medicine_remainders_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "204":
          description: No response body
  /api/v1/medicine-remainders/sync/:
    post:
      operationId: v1_medicine_remainders_sync_create
      description: "Sync reminders: update existing ones or create new ones."
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/medicines/:
    get:
      operationId: v1_medicines_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedMedicineList"
          description: ""
  /api/v1/medicines/company/:
    get:
      operationId: v1_medicines_company_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/medicines/company/{id}/:
    get:
      operationId: v1_medicines_company_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Pharmacy.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pharmacy"
          description: ""
  /api/v1/notices/:
    get:
      operationId: v1_notices_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedNoticeList"
          description: ""
  /api/v1/notices/{id}/:
    get:
      operationId: v1_notices_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Notice.
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notice"
          description: ""
  /api/v1/notices/{id}/read/:
    put:
      operationId: v1_notices_read_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Notification.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Notification"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Notification"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: ""
    patch:
      operationId: v1_notices_read_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Notification.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedNotification"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedNotification"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedNotification"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: ""
  /api/v1/notification/settings/:
    get:
      operationId: v1_notification_settings_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_notification_settings_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/notifications/:
    get:
      operationId: v1_notifications_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedNotificationList"
          description: ""
  /api/v1/notifications/{id}/:
    get:
      operationId: v1_notifications_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Notice.
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: ""
  /api/v1/order/{id}/:
    get:
      operationId: v1_order_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Booked Consultation.
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookedConsultation"
          description: ""
    post:
      operationId: v1_order_create
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this Booked Consultation.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BookedConsultation"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookedConsultation"
          description: ""
  /api/v1/order/coupon/{id}/:
    post:
      operationId: v1_order_coupon_create
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/parent/assistant-voices/:
    get:
      operationId: v1_parent_assistant_voices_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAssistantVoiceList"
          description: ""
    post:
      operationId: v1_parent_assistant_voices_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantVoice"
          description: ""
  /api/v1/parent/assistant-voices/{id}/:
    get:
      operationId: v1_parent_assistant_voices_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantVoice"
          description: ""
    put:
      operationId: v1_parent_assistant_voices_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AssistantVoice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantVoice"
          description: ""
    patch:
      operationId: v1_parent_assistant_voices_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedAssistantVoice"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedAssistantVoice"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedAssistantVoice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssistantVoice"
          description: ""
    delete:
      operationId: v1_parent_assistant_voices_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/parent/phonebook/:
    get:
      operationId: v1_parent_phonebook_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUserPhoneBookList"
          description: ""
    post:
      operationId: v1_parent_phonebook_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPhoneBook"
          description: ""
  /api/v1/parent/phonebook/{id}/:
    get:
      operationId: v1_parent_phonebook_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPhoneBook"
          description: ""
    put:
      operationId: v1_parent_phonebook_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserPhoneBook"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPhoneBook"
          description: ""
    patch:
      operationId: v1_parent_phonebook_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedUserPhoneBook"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedUserPhoneBook"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedUserPhoneBook"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPhoneBook"
          description: ""
    delete:
      operationId: v1_parent_phonebook_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/payments/consultations/:
    get:
      operationId: v1_payments_consultations_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/pharmacy/:
    get:
      operationId: v1_pharmacy_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/pharmacy/{id}/:
    get:
      operationId: v1_pharmacy_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this Pharmacy.
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pharmacy"
          description: ""
  /api/v1/promotional/hospital/discount/:
    get:
      operationId: v1_promotional_hospital_discount_list
      parameters:
        - name: ordering
          required: false
          in: query
          description: Which field to use when ordering the results.
          schema:
            type: string
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - name: page_size
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedHospitalDiscountList"
          description: ""
    post:
      operationId: v1_promotional_hospital_discount_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HospitalDiscount"
          description: ""
  /api/v1/promotional/hospital/discount/{id}/:
    get:
      operationId: v1_promotional_hospital_discount_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this hospital discount.
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HospitalDiscount"
          description: ""
    put:
      operationId: v1_promotional_hospital_discount_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this hospital discount.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/HospitalDiscount"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HospitalDiscount"
          description: ""
    patch:
      operationId: v1_promotional_hospital_discount_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this hospital discount.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedHospitalDiscount"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedHospitalDiscount"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedHospitalDiscount"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HospitalDiscount"
          description: ""
    delete:
      operationId: v1_promotional_hospital_discount_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: A unique value identifying this hospital discount.
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/promotional/vouchers/claim/:
    post:
      operationId: v1_promotional_vouchers_claim_create
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/quiz/check/answer/:
    get:
      operationId: v1_quiz_check_answer_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_quiz_check_answer_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/quiz/clients/:
    get:
      operationId: v1_quiz_clients_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/quiz/clients/{id}/today-quiz/:
    get:
      operationId: v1_quiz_clients_today_quiz_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/quiz/clients/check/answer/:
    post:
      operationId: v1_quiz_clients_check_answer_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/quiz/leaderboard/:
    get:
      operationId: v1_quiz_leaderboard_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedLeaderboardUserList"
          description: ""
    post:
      operationId: v1_quiz_leaderboard_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
      security:
        - jwtAuth: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardUser"
          description: ""
  /api/v1/quiz/leaderboard/{id}/:
    get:
      operationId: v1_quiz_leaderboard_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this user.
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardUser"
          description: ""
    put:
      operationId: v1_quiz_leaderboard_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this user.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LeaderboardUser"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardUser"
          description: ""
    patch:
      operationId: v1_quiz_leaderboard_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this user.
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedLeaderboardUser"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedLeaderboardUser"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedLeaderboardUser"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardUser"
          description: ""
    delete:
      operationId: v1_quiz_leaderboard_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          description: A unique integer value identifying this user.
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "204":
          description: No response body
  /api/v1/register/phone/:
    post:
      operationId: v1_register_phone_create
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/request/account/deletion/:
    post:
      operationId: v1_request_account_deletion_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/resend/otp/:
    post:
      operationId: v1_resend_otp_create
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/schedules/:
    get:
      operationId: v1_schedules_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/search/:
    get:
      operationId: v1_search_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/search/{search_type}/:
    get:
      operationId: v1_search_retrieve_2
      parameters:
        - in: path
          name: search_type
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/send-verification-code/:
    post:
      operationId: v1_send_verification_code_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/slot/{id}/:
    get:
      operationId: v1_slot_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultationSlotDisplay"
          description: ""
    post:
      operationId: v1_slot_create
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultationSlotDisplay"
          description: ""
    put:
      operationId: v1_slot_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ConsultationSlotDisplay"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultationSlotDisplay"
          description: ""
    patch:
      operationId: v1_slot_partial_update
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedConsultationSlotDisplay"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedConsultationSlotDisplay"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedConsultationSlotDisplay"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultationSlotDisplay"
          description: ""
    delete:
      operationId: v1_slot_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/slot/signature/:
    post:
      operationId: v1_slot_signature_create
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/slot/update/:
    get:
      operationId: v1_slot_update_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_slot_update_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/slots/:
    get:
      operationId: v1_slots_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedConsultationSlotList"
          description: ""
    post:
      operationId: v1_slots_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsultationSlot"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ConsultationSlot"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ConsultationSlot"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsultationSlot"
          description: ""
  /api/v1/slots/user/booked/:
    get:
      operationId: v1_slots_user_booked_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/slots/users/:
    get:
      operationId: v1_slots_users_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/sos/:
    get:
      operationId: v1_sos_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
    post:
      operationId: v1_sos_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/sos/{id}/notify/:
    get:
      operationId: v1_sos_notify_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/sos/{id}/:
    get:
      operationId: v1_sos_retrieve_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    put:
      operationId: v1_sos_update
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
    delete:
      operationId: v1_sos_destroy
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/sos/notify/:
    get:
      operationId: v1_sos_notify_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          description: No response body
  /api/v1/subscriber/:
    post:
      operationId: v1_subscriber_create
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/update-password/{token}/:
    post:
      operationId: v1_update_password_create
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
        required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
    put:
      operationId: v1_update_password_update
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
        required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
    patch:
      operationId: v1_update_password_partial_update
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
  /api/v1/update/password/:
    post:
      operationId: v1_update_password_create_2
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
    put:
      operationId: v1_update_password_update_2
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UpdatePassword"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
    patch:
      operationId: v1_update_password_partial_update_2
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedUpdatePassword"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePassword"
          description: ""
  /api/v1/update/user/:
    post:
      operationId: v1_update_user_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UserUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUpdate"
          description: ""
    put:
      operationId: v1_update_user_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UserUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUpdate"
          description: ""
    patch:
      operationId: v1_update_user_partial_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedUserUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedUserUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedUserUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUpdate"
          description: ""
  /api/v1/update/user/password/:
    post:
      operationId: v1_update_user_password_create
      tags:
        - v1
      responses:
        "200":
          description: No response body
    put:
      operationId: v1_update_user_password_update
      tags:
        - v1
      responses:
        "200":
          description: No response body
    patch:
      operationId: v1_update_user_password_partial_update
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/update/user/profile/:
    post:
      operationId: v1_update_user_profile_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileImage"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ProfileImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ProfileImage"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileImage"
          description: ""
    put:
      operationId: v1_update_user_profile_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileImage"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ProfileImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ProfileImage"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileImage"
          description: ""
    patch:
      operationId: v1_update_user_profile_partial_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedProfileImage"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedProfileImage"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedProfileImage"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileImage"
          description: ""
  /api/v1/user/:
    get:
      operationId: v1_user_retrieve
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: ""
  /api/v1/user/doctor/:
    get:
      operationId: v1_user_doctor_list
      description: Handles the retrieval of doctor details using a GET request.
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDoctorList"
          description: ""
    post:
      operationId: v1_user_doctor_create
      tags:
        - v1
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Doctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Doctor"
      security:
        - jwtAuth: []
        - {}
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
  /api/v1/user/doctor/{id}/:
    get:
      operationId: v1_user_doctor_retrieve
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/user/doctor/filters/:
    get:
      operationId: v1_user_doctor_filters_retrieve
      tags:
        - v1
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/user/doctor/list/overview/:
    get:
      operationId: v1_user_doctor_list_overview_retrieve
      tags:
        - v1
      security:
        - {}
      responses:
        "200":
          description: No response body
  /api/v1/user/doctor/login/:
    post:
      operationId: v1_user_doctor_login_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Login"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Login"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Login"
        required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Login"
          description: ""
  /api/v1/user/doctor/overview/:
    get:
      operationId: v1_user_doctor_overview_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/user/doctor/update/:
    post:
      operationId: v1_user_doctor_update_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Doctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Doctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Doctor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
    put:
      operationId: v1_user_doctor_update_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Doctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Doctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Doctor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
    patch:
      operationId: v1_user_doctor_update_partial_update
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
  /api/v1/user/doctor/update/{id}/:
    post:
      operationId: v1_user_doctor_update_create_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Doctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Doctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Doctor"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
    put:
      operationId: v1_user_doctor_update_update_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Doctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Doctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Doctor"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
    patch:
      operationId: v1_user_doctor_update_partial_update_2
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedDoctor"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Doctor"
          description: ""
  /api/v1/user/doctors/:
    get:
      operationId: v1_user_doctors_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/user/doctors/available/today/:
    get:
      operationId: v1_user_doctors_available_today_retrieve
      tags:
        - v1
      responses:
        "200":
          description: No response body
  /api/v1/user/document/{fileid}/delete/:
    delete:
      operationId: v1_user_document_delete_destroy
      parameters:
        - in: path
          name: fileid
          schema:
            type: string
          required: true
      tags:
        - v1
      responses:
        "204":
          description: No response body
  /api/v1/user/folders/:
    get:
      operationId: v1_user_folders_list
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUserFolderList"
          description: ""
    post:
      operationId: v1_user_folders_create
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserFolder"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/UserFolder"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/UserFolder"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserFolder"
          description: ""
  /api/v1/user/folders/{folder_id}/files/:
    get:
      operationId: v1_user_folders_files_list
      parameters:
        - in: path
          name: folder_id
          schema:
            type: string
          required: true
        - name: page
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
      tags:
        - v1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedUserDocumentsRetrieveList"
          description: ""
  /api/v1/user/folders/{folder_id}/rename/:
    post:
      operationId: v1_user_folders_rename_create
      parameters:
        - in: path
          name: folder_id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderUpdate"
          description: ""
    put:
      operationId: v1_user_folders_rename_update
      parameters:
        - in: path
          name: folder_id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FolderUpdate"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderUpdate"
          description: ""
    patch:
      operationId: v1_user_folders_rename_partial_update
      parameters:
        - in: path
          name: folder_id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedFolderUpdate"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PatchedFolderUpdate"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PatchedFolderUpdate"
      security:
        - jwtAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderUpdate"
          description: ""
  /api/v1/user/folders/{folder_id}/update/:
    post:
      operationId: v1_user_folders_update_create
      parameters:
        - in: path
          name: folder_id
          schema:
            type: string
          required: true
      tags:
        - v1
      requestBody:
[...]
